.tool-bar{
  padding: 0.5%;
  padding-bottom: 1.5%;
  /* background-color: aqua; */
}
.tool-bar samp{
  font-size: 20px;
}
.tool-bar a:link, .tool-bar a:visited {
  /* background-color: white; */
  color: black;
  padding: 0.5% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.profile-card, .box2 {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.profile-card img{
  height: 30px;
  width: 30px;
}

.profile-card{
  float: right;
}
/* ------------------------------------------------- */
.container {
  display: flex;
  flex-wrap: wrap;
  height: 89vh; /* Set the height of the container to full viewport height */
}

.box {
  width: 50%; /* Set the width of each box to 50% to make 2 boxes per row */
  height: 50%; /* Set the height of each box to 50% to make 2 boxes per column */
  box-sizing: border-box; /* Include padding and border in the box size */
  border: 1px solid black;
}

/* ------------------------------------------------- */

.button-container {
  margin-top: 2%;
  margin-left: 10%;
  display: flex; 
}
.main-btn{
  padding-left: 10%;
  padding-top: 2%;
}
.auto-mode {
  background-color: rgb(239, 170, 255);
  color: black;
  height: 140px;
  width: 140px;
  border-radius: 10%;
  border-color: rgb(235, 145, 255);
  font-size: 30px;
}

.manual-mode {
  background-color: red;
  color: white;
  height: 140px;
  width: 140px;
  border-radius: 10%;
  font-size: 30px;
  
}

.off-mode{
  margin-top: 8%;
  padding: 10px;
  margin-left: 10%;
  background-color: chartreuse;
  border-radius: 14%;
  font-size: large;
  float: right;
  margin-right: 55%;
}

.on-mode{
  margin-top: 8%;
  padding: 10px;
  margin-left: 10%;
  background-color: lightcoral;
  border-radius: 14%;
  font-size: large;  
  float: right;
  margin-right: 58%;
}

.info{
  margin-left: 5%;
  background-color: rgb(211, 220, 211);
  height: 340px;
  width: 240px;
  border-radius: 4%;
}
.weather{
  border-radius: 80%;
  font-size: 30px;
}

/* This is for mobile */

@media (max-width: 480px) {
  .title{
    width: 100%;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }
  .info{
    margin: 0%;
    margin-top: 10%;
  }

}

.probability_graphc{
  height: 10px;
  width: 10px;
}
