body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: rgb(189, 189, 189);
  color: rgb(8, 8, 8);
}

.tool-bar{
  padding: 0.5%;
  padding-bottom: 1.5%;
  background-color: rgb(174, 226, 236);
}
.tool-bar samp{
  font-size: 20px;
}
.tool-bar a:link, .tool-bar a:visited {
  color: black;
  padding: 0.5% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.profile-card {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 1%;
}
.profile-card img{
  height: 30px;
  width: 30px;
}

.profile-card{
  float: right;
}


.main-btn{
  padding-left: 10%;
  padding-top: 2%;
}
.auto-mode {
  color: black;
  height: 140px;
  width: 140px;
  border-radius: 10%;
  border-color: rgb(235, 145, 255);
  font-size: 30px;
}

.manual-mode {
  border-color: rgb(54, 42, 227);
  color: rgb(96, 43, 43);
  height: 140px;
  width: 140px;
  border-radius: 10%;
  font-size: 30px;
  
}

.off-mode{
  margin-top: 3%;
  color: blueviolet;
  padding: 10px;
  border-color: rgb(67, 235, 0);
  border-radius: 14%;
  font-size: large;
  margin-left: 44px;
}

.on-mode{
  margin-top: 3%;
  padding: 10px;
  color: darkmagenta;
  border-color: rgb(145, 226, 255);
  border-spacing: 12px;
  border-radius: 14%;
  font-size: large;
  margin-left: 48px;
}

.status_connected{
  margin-top: 3%;
  margin-left: 15%;  
  width: fit-content;
  padding: 10px;
  background-color: chartreuse;
  background-image: url("img/wifi.svg");
  background-repeat: no-repeat;
}
.status_not_connected{
  margin-top: 3%;
  margin-left: 15%;
  width: fit-content;
  padding: 10px;
  background-color: rgb(244, 0, 0);
  background-image: url("img/wifi-off.svg");
  background-repeat: no-repeat;
}

.info{
  margin-left: 5%;
  background-color: rgb(211, 220, 211);
  height: 340px;
  width: 240px;
  border-radius: 4%;
}
.weather{
  border-radius: 80%;
  font-size: 20px;
}

.graph{
  height: 50%;
  width: 50%;
}

.About{
  background-color: rgb(0, 0, 117);
  color: aliceblue;
  border-radius: 2%;
}

.master-content {
  display: flex;
  justify-content: center;
}

.box1 {
  width: 50%;
  height: 70%;
  margin-left: 4%;
}

.box2 {
  width: 60%;
  height: 70%;
  margin-right: -10%;
}

/* This is for mobile */
@media (max-width: 480px) {
  .main-btn{
    padding-left: 30%;
    padding-top: 2%;
  }
  .info{
    margin: 0%;
    margin-top: 10%;
  }
  .graph{
    height: 100%;
    width: 100%;
  }
  .master-content {
    flex-direction: column;
  }
  
  .box1, .box2 {
    width: 100%;
  }
  
  #mode-btn {
    display: block;
  }
  
  #onoff-btn {
    display: none;
  }
}
